<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proveedores y Productos</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="header">
        <img src="{% static 'images/AgroMerc.jpg' %}" alt="AgroMerc" class="img-fluid">
        <h1>Proveedores y Productos</h1>
    </div>

    <div class="content">
        <table>
            <thead>
                <tr>
                    <th>Nombre Proveedor</th>
                    <th>Productos</th>
                </tr>
            </thead>
            <tbody>
                {% for proveedor in proveedores %}
                <tr>
                    <td>{{ proveedor.nombre_proveedor }}</td>
                    <td>{{ proveedor.productos }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="footer">
        <h1>AgroMerc</h1>
    </div>
</body>
</html>
